<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 5px;
            color: white;
        }

        body {
            display: flex;
            justify-content: center;
            background: #001d3d;
        }

        h1 {
            text-align: center;
        }

        form {
            margin-top: 90px;
            padding: 20px;
            border: 2px solid;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            flex-flow: column;
            width: 400px;
            background: #000814;
        }

        label {
            font-size: 30px;
        }

        input {
            height: 30px;
        }

        button {
            height: 40px;
            margin-top: 20px;
            font-size: 20px;
            background: #ffc300;
            color: black;
        }

        input {
            color: black;
        }

        input::placeholder {
            color: black;
        }

        @media screen and (-webkit-min-device-pixel-ratio:0) {

            select,
            textarea,
            text,
            input {
                font-size: 16px;
            }
        }
        .error{
            text-align: center;
            color: red;
            font-size: 20px;
        }
    </style>
</head>

<body>
    


        <form method="post" action="/url">
            <h1>URL Shortener</h1>
            <label>Enter URL</label>
            <input placeholder="Enter Your Url" class="urlbox" type="text" name="url">


            <button type="submit">Submit</button>

            <div class="error">
                <% if (locals.newUrl) { %>
                    <h3>New URL</h3>
                    <p>
                        <%= newUrl %>
                    </p>
                    <% } %>
    
                        <% if (locals.error) { %>
                            <h3>Get Error</h3>
                            <p class="error">
                                <%= error %>
                            </p>
                            <% } %>
            </div>
            <button type="button" onclick="window.location.href='/url/data'">History</button>
        </form>

   



</body>

</html>