<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sign up</h1>

    <form action="/user/signup" method="post">
        <label for="name">Name</label>
        <input type="text" required name="name" placeholder="Enter your name">
        <label for="email">Email</label>
        <input type="email" required name="email" placeholder="Enter your email">
        <label for="password">Password</label>
        <input type="password" required name="password" placeholder="Enter your password">
        
        <button type="submit">Sign up</button>
    </form>
    <button type="button" onclick="window.location.href='/user/login'">Login</button>


</body>

</html>
