<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 5px;
            color: white;
        }

        body {
            background: #001d3d;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        h1 {
            text-align: center;
        }

        table {
            margin-top: 40px;
            padding: 20px;
            border: 2px solid;
            border-radius: 20px;
            background: #000814;
            
        }

        th {
            text-align: center;
            border: 1.5px solid;
            font-size: 20px;
            padding: 10px;
        }

        td {
            border: 1.5px solid;
            padding: 5px;
            text-align: center;
            font-size: 18px;
        }

        .url {
            text-align: left;
        }

        button {
            height: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 20px;
            border-radius: 7px;
            background: #ffc300;
            color: black;
        }
    </style>
</head>

<body>
<h1>History of ShortUrls</h1>
    <table>
        <tr>
            <th>Index</th>
            <th>ShortId</th>
            <th>Url</th>
            <th>Click</th>
        </tr>
        <% let index=1; %>
            <% urls.forEach(url=> { %>
                <tr>
                    <td>
                        <%= index++ %>
                    </td>
                    <td>
                        <%= url.shortId %>
                    </td>
                    <td class="url">
                        <%= url.redirectUrl %>
                    </td>
                    <td>
                        <%= url.visitHistory.length%>
                    </td>
                </tr>
                <% }) %>
    </table>


        <button class="home" onclick="window.location.href='/url'">Go to Home</button>



</body>

</html>